<!-- <a ui-sref="stream">Stream</a>
<a ui-sref="gatherings">Gatherings</a> -->

<form ng-submit="gatherings.addGathering()">
  <label>I want to hear from...</label>
  <select ng-options="leader.id as leader.handle for leader in gatherings.leaders" ng-model="gatherings.selected_leader"></select>
  <!-- <input type="text" ng-model="leader" placeholder="@target"> -->
  <label>...about...</label>
  <input type="text" ng-model="gatherings.query" placeholder="coupon">
  <input type="submit" value="Create Gathering">
</form>

<ul>
  <li ng-repeat="banana in gatherings.userGatherings">
    {{ banana.leader_id + '  ' + banana.query }}
  </li>
</ul>
