<!-- <a ui-sref="stream">Stream</a>
<a ui-sref="gatherings">Gatherings</a> -->

<!-- <button class="btn btn-primary btn-lg" ng-click='stream.getTweets()'>
  Gimme some tweets
</button> -->
<!-- <h2>My Tweets</h2> -->
<div class="container">
  <div ng-repeat="tweets_from_gathering in stream.tweets_container.tweets" class="col-md-4">
    <blockquote ng-repeat="tweet_obj in tweets_from_gathering" class="twitter-tweet">
      <a href="{{tweet_obj.url}}">{{tweet_obj.content}}</a>
      <br>
      <br>
      -@{{tweet_obj.handle}}
    </blockquote>
  </div>
</div>



