
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1 class="title text-center">Welcome to Tweeter's Digest!</h1>
      <div ng-controller="loginController">
        <button class="btn btn-lg btn-info sign-in" ng-click="handleBtnClick()">
          Sign in with Twitter
        </button>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae velit felis. Vestibulum eget nunc eu arcu iaculis fermentum. Integer mattis urna ac viverra vehicula. Donec id diam eget nunc fermentum eleifend.</p>
    </div>
  </div>
</div>
