body {
  font-family: 'Oxygen', sans-serif;
}

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
  width: 100%;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}

.nav-btn {
  color: white;
  text-decoration: none;
  margin: 0 auto;
  padding: 15px;
  margin-left: 20px;
  width: 100px;
}

.dropdown-txt {
  font-size: 16px
}

.text-em {
  font-size: 12px;
  font-weight: bold;
  border-radius: 2px;
  padding: 4px;

}

.search-btn {
  width: 100%;
}

.add-sms-btn {
  width: 100%;
}

.title {
  font-size: 48px;
  color: gray;
}

.sign-in {
  margin: 40px 0;
  width: 100%;
}

.sign-out {
  margin: 0 20px;
}

.nav-title {
  color: gray;
  font-size: 24px;
  margin: 25%;
}
